; Chromecast 4 Lox NG
; Wird von der Plugin-Oberflaeche geschrieben.

[CONFIG]
enabled=1
geraete=
mqtt_topic=chromecast4lox
mqtt_ein=1
udp=1
udp_port=7090
intervall=10
aktualisierung=60
lautstaerke_schritt=5
favoriten=
tts_modus=chromecast
tts_ip=
tts_port=7091
tts_zonen=1
tts_lautstaerke=8
tts_sprache=de
tts_vorlage=
tts_pegel=
tts_fortsetzen=1
tts_gong=
tts_lokal_basis=
lautstaerke_max=100
ruhe_von=
ruhe_bis=
ruhe_max=30
gruppen=1
beschleunigung=0
aktionstoken=
